/* Sidebar.css */

.sidebar {
    position: fixed;
    width: 230px;
    height: 90%;
    left: 0px;
    top: 100px;
    background: var(--color-SideBar);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    border-radius: 0 16px 0 0;
    padding-top: 50px;
  }
  
  .sidebar-logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  
  .sidebar-logo-img {
    width: 47px;
    height: 60px;
  }
  
  .sidebar-logo-text {
    font-family: var(--font-Logo);
    font-size: var(--font-size-Logo);
    line-height: 90px;
    color: #000000;
    margin-left: 10px;
  }
  
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sidebar-item.active {
    background: var(--color-Point1);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .sidebar-item.active .sidebar-text {
    color: white;
  }
  
  .sidebar-item.active .sidebar-icon {
    filter: brightness(0) invert(1);
  }
  
  .sidebar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .sidebar-text {
    font-family: var(--font-Main);
    font-size: var(--font-size-SubTitle);
    color: #000000;
  }
  