/* variables.css */

:root {
    /* 색상 */
    --color-Background: #FAFAFA;
    --color-Background2: #A7D8F0;
    --color-SideBar: #C6E7FF;
    --color-Point: #578FCA;
    --color-Button: #3674B5;
    --color-Main: #cbe2f1;


    /* 폰트 */
    --font-Logo: 'Logo';
    --font-Main: 'Main';

    /* 폰트 사이즈 */
    --font-size-Logo: 55px;
    --font-size-value: 80px;
    --font-size-Title: 40px;
    --font-size-SubTitle: 24px;
    --font-size-Body: 16px;
}