/* Web.css */

.content-wrapper {
  display: flex;
}

.main-content {
  flex: 1;
  background: linear-gradient(
    to right,
    var(--color-Background2) 50%,
    var(--color-Background) 60%
  );
  padding-left: 250px;
  padding-top: 100px;
  min-height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-Main);
  width: 90%;
  min-width: 800px;
  min-height: 850px;
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-Main);
}

.search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: var(--font-size-Body);
  width: 180px;
  font-family: var(--font-Main);
  margin-right: 8px;
}

.search button {
  padding: 8px 12px;
  border: none;
  background-color: var(--color-Point1);
  border-radius: 8px;
  cursor: pointer;
}

.X {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-SubTitle);
}

.X:hover {
  transform: scale(1.2);
}

/* -------------------------------------------------- */

/* 대시보드 */

.dashboard-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.card-row {
  display: flex;
  width: 95%;
  flex-wrap: nowrap;
  padding-bottom: 12px;
  gap: 16px;
  overflow-x: auto;
  min-width: fit-content;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
  gap: 16px;
  min-width: 260px;
}

.card {
  background-color: var(--color-Main);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-1 {
  flex: 1 1 33%;
  min-width: 350px;
  min-height: 200px;
}

.card-2 {
  flex: 1 1 33%;
  min-width: 350px;
  min-height: 200px;
}

.card-3 {
  flex: 1 1 50%;
  min-width: 550px;
  min-height: 400px;
}

.card-text {
  font-family: var(--font-Main);
  font-size: var(--font-size-Title);
  color: #000000;
  align-self: flex-start;
  margin: 10px;
}

.value-text {
  font-family: var(--font-Main);
  font-size: var(--font-size-value);
  color: var(--color-Point2);
  text-align: center;
  margin: 10px;
}

.popular-dest-table {
  width: 100%;
  margin-top: 12px;
  border-collapse: collapse;
  text-align: center;
  font-family: var(--font-Main);
  font-size: var(--font-size-SubTitle);
}

.popular-dest-table thead {
  border-bottom: 1px solid var(--color-Point2);
  font-weight: normal;
}

.popular-dest-table th {
  font-weight: normal;
}

.popular-dest-table td {
  padding: 6px 0;
  color: var(--color-Point2);
}

.inquiry-chart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inquiry-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-Main);
  font-size: var(--font-size-Title);
  z-index: 2;
}

.inquiry-total {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-Main);
  font-size: var(--font-size-Title);
  font-weight: bold;
  z-index: 2;
}

.inquiry-legend {
  margin-top: 12px;
  font-family: var(--font-Main);
  font-size: var(--font-size-Body);
  text-align: center;
}

.inquiry-legend div {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

/* -------------------------------------------------- */

/* 회원 관리 */

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-Main);
  border-radius: 12px;
  overflow: hidden;
}

.user-table thead {
  border-bottom: 1px solid var(--color-Point2);
}

.user-table th,
.user-table td {
  padding: 16px;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-SubTitle);
  font-family: var(--font-Main);
}

/* 이름 */
.user-table th:nth-child(1),
.user-table td:nth-child(1) {
  width: 15%;
}

/* 가입일 */
.user-table th:nth-child(2),
.user-table td:nth-child(2) {
  width: 20%;
}

/* 아이디 */
.user-table th:nth-child(3),
.user-table td:nth-child(3) {
  width: 60%;
}

/* 정지, 탈퇴 버튼 */
.user-table th:nth-child(4),
.user-table td:nth-child(4),
.user-table th:nth-child(5),
.user-table td:nth-child(5) {
  width: 5%;
}

/* -------------------------------------------------- */

/* 여행지 관리 */

.place-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-Main);
  border-radius: 12px;
  overflow: hidden;
}

.place-table thead {
  border-bottom: 1px solid var(--color-Point2);
}

.place-table th,
.place-table td {
  padding: 16px;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-SubTitle);
  font-family: var(--font-Main);
}

/* 여행지 번호 */
.place-table th:nth-child(1),
.place-table td:nth-child(1) {
  width: 20%;
}

/* 장소 명 */
.place-table th:nth-child(2),
.place-table td:nth-child(2) {
  width: 20%;
}

/* 주소 */
.place-table th:nth-child(3),
.place-table td:nth-child(3) {
  width: 35%;
}

/* 여행지 타입 */
.place-table th:nth-child(4),
.place-table td:nth-child(4) {
  width: 20%;
}

/* 삭제 버튼 */
.place-table th:nth-child(5),
.place-table td:nth-child(5) {
  width: 5%;
}

/* -------------------------------------------------- */

/* AI 관리 */

.ai-tabs {
  display: flex;
  gap: 8px;
}

.ai-tab-button {
  background-color: #c0c0c0;
  border: none;
  border-radius: 12px 12px 0 0;
  width: 50%;
  padding: 12px 24px;
  font-family: var(--font-Main);
  font-size: var(--font-size-Title);
  cursor: pointer;
  transition: all 0.2s ease;
}

.ai-tab-button.active {
  background-color: var(--color-Main);
}

.ai-table {
  display: flex;
  width: 100%;
  background-color: var(--color-Main);
  border-collapse: collapse;
  min-width: 800px;
  min-height: 850px;
  border-radius: 0 0 12px 12px;
  margin-bottom: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: var(--font-Main);
  overflow: hidden;
}

.ai-table th {
  padding: 24px;
  font-weight: normal;
  font-size: var(--font-size-SubTitle);
  font-family: var(--font-Main);
}

/* -------------------------------------------------- */

/* 문의사항 */

.Ques-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-Main);
  border-radius: 12px;
  overflow: hidden;
}

.Ques-table thead {
  border-bottom: 1px solid var(--color-Point2);
}

.Ques-table th,
.Ques-table td {
  padding: 16px;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-SubTitle);
  font-family: var(--font-Main);
}

/* 문의사항 번호 */
.Ques-table th:nth-child(1),
.Ques-table td:nth-child(1) {
  width: 20%;
}

/* 제목 */
.Ques-table th:nth-child(2),
.Ques-table td:nth-child(2) {
  width: 30%;
}

/* 작성자 ID */
.Ques-table th:nth-child(3),
.Ques-table td:nth-child(3) {
  width: 40%;
}

/* 답변 여부 */
.Ques-table th:nth-child(4),
.Ques-table td:nth-child(4) {
  width: 10%;
}

/* -------------------------------------------------- */

.ans-text {
  font-family: var(--font-Main);
  font-size: var(--font-size-SubTitle);
  color: #000000;
}

.ans-text-box {
  width: 100%;
  resize: none;
  font-family: var(--font-Main);
  font-size: var(--font-size-Body);
  color: #000000;
}

/* -------------------------------------------------- */

/* 공지사항 */

.Noti-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-Main);
  border-radius: 12px;
  overflow: hidden;
}

.Noti-table thead {
  border-bottom: 1px solid var(--color-Point2);
}

.Noti-table th,
.Noti-table td {
  padding: 16px;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-SubTitle);
  font-family: var(--font-Main);
}

/* 공지사항 번호 */
.Noti-table th:nth-child(1),
.Noti-table td:nth-child(1) {
  width: 20%;
}

/* 제목 */
.Noti-table th:nth-child(2),
.Noti-table td:nth-child(2) {
  width: 30%;
}

/* 게시일 */
.Noti-table th:nth-child(3),
.Noti-table td:nth-child(3) {
  width: 40%;
}

/* 게시 여부 */
.Noti-table th:nth-child(4),
.Noti-table td:nth-child(4) {
  width: 10%;
}

/* -------------------------------------------------- */

.ans-text {
  font-family: var(--font-Main);
  font-size: var(--font-size-SubTitle);
  color: #000000;
}

.ans-text-box {
  width: 100%;
  resize: none;
  font-family: var(--font-Main);
  font-size: var(--font-size-Body);
  color: #000000;
}
